VideoMill Complete Pipeline v4.2.json
{
  "name": "VideoMill Complete Pipeline v4.2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "viranode-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "93b862ce-0fae-4f1b-8a3c-47793f643cfb",
      "name": "Webhook - Video Request",
      "type": "n8n-nodes-base.webhook",
      "position": [-128, -304],
      "typeVersion": 2.1,
      "webhookId": "77dc49c5-ea9c-446e-b048-42d23d9d2cd5",
      "notes": "Mottar payload fra trigger-n8n Edge Function. Validerer X-VideoMill-Auth header."
    },
    {
      "parameters": {
        "jsCode": "// Verifiser hemmelig header fra Supabase Edge Function\nconst inputData = $input.first();\nconst headers = inputData.json.headers;\nconst body = inputData.json.body;\n\n// Hent secret fra n8n env (sett under Settings > Variables)\nconst correctSecret = $env.N8N_HEADER_AUTH_VALUE || $env.VIRANODE_SECRET;\nconst receivedSecret = headers['x-videomill-auth'] || headers['x-viranode-secret'];\n\nif (!correctSecret || receivedSecret !== correctSecret) {\n  return [{ json: { authorized: false, error: 'Feil hemmelig kode' } }];\n}\n\nreturn [{ json: { ...body, authorized: true } }];"
      },
      "id": "158c0280-2219-4faf-a70c-41140f490ff6",
      "name": "Sjekk Secret",
      "type": "n8n-nodes-base.code",
      "position": [80, -304],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "da0c486c-513c-4cc0-af76-7ae03eef7f1f",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cbf5709e-4773-47b0-8724-e20defe80b1d",
      "name": "Autorisert?",
      "type": "n8n-nodes-base.if",
      "position": [272, -304],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"message\": \"Feil passord, tilgang nektet\"}",
        "options": { "responseCode": 401 }
      },
      "id": "9c47529b-f42c-4a21-b185-8db440679a95",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [464, -160],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $json.video_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"queued\", \"progress\": 5, \"sub_status\": \"I kø — starter produksjon\"}",
        "options": {}
      },
      "id": "cb25c7b7-e6c5-4bd3-82bc-724aa4022da5",
      "name": "Sett status: queued",
      "type": "n8n-nodes-base.httpRequest",
      "position": [544, -320],
      "typeVersion": 4.4,
      "notes": "Oppdaterer eksisterende video (ikke lager ny). React-appen har allerede laget video-raden."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"suksess\", \"message\": \"Bestilling mottatt — produksjon starter\", \"video_id\": \"{{ $('Webhook - Video Request').first().json.body.video_id }}\"}",
        "options": {
          "responseCode": 200,
          "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "application/json" }] }
        }
      },
      "id": "83f0de2b-de8a-46e6-a3d0-d5cecaabb9e2",
      "name": "Svar 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [736, -320],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $('Webhook - Video Request').first().json.body.video_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"scripting\", \"progress\": 10, \"sub_status\": \"Genererer manus med AI\"}",
        "options": {}
      },
      "id": "fbb40726-aaff-42cf-a1ce-13897d27ebdd",
      "name": "Status: scripting",
      "type": "n8n-nodes-base.httpRequest",
      "position": [928, -320],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a viral short-form video script writer. Always respond with valid JSON only — no markdown, no code blocks, no placeholders. The JSON must have: title, description, hashtags (array), scenes (array of objects with: narration, visual_description, duration_seconds, search_keywords array).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('Create a viral video script about: ' + $('Webhook - Video Request').first().json.body.topic + '. User instructions: ' + ($('Webhook - Video Request').first().json.body.promp || 'Make it engaging and short') + '. Platform: ' + ($('Webhook - Video Request').first().json.body.platform || 'tiktok') + '. Language: ' + ($('Webhook - Video Request').first().json.body.language || 'nb') + '. Target audience: ' + ($('Webhook - Video Request').first().json.body.target_audience || 'general') + '. Create 3-5 scenes, each 5-8 seconds. Use real content, no placeholders.') }}\n    }\n  ],\n  \"max_tokens\": 2000,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "3019de8e-6dca-4ad2-b96e-4c3640657e02",
      "name": "Groq - Generate Script",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1152, -320],
      "typeVersion": 4.4,
      "notes": "Groq LLaMA 3.1 genererer manus. Bruker 'promp' fra payload som instruksjoner."
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.choices[0].message.content;\ntry {\n  // Prøv å parse JSON direkte\n  let script;\n  try {\n    script = JSON.parse(response);\n  } catch {\n    // Prøv å hente JSON fra markdown code blocks\n    const jsonMatch = response.match(/```(?:json)?\\n?([\\s\\S]*?)\\n?```/) || response.match(/(\\{[\\s\\S]*\\})/);\n    if (!jsonMatch) throw new Error('No JSON found in response');\n    script = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n  }\n  \n  const webhookData = $('Webhook - Video Request').first().json.body;\n  return [{ json: {\n    ...script,\n    video_id:        webhookData.video_id,\n    user_id:         webhookData.user_id,\n    voice_id:        webhookData.voice_id || 'nb-NO-PernilleNeural',\n    platform:        webhookData.platform || 'tiktok',\n    language:        webhookData.language || 'nb',\n    aspect_ratio:    webhookData.aspect_ratio || '9:16',\n    target_audience: webhookData.target_audience || 'general',\n  }}];\n} catch(e) {\n  throw new Error('Failed to parse script JSON: ' + e.message + '\\nResponse was: ' + response.substring(0, 200));\n}"
      },
      "id": "43d59c46-154f-490e-9176-bd94824e9b5e",
      "name": "Parse Script JSON",
      "type": "n8n-nodes-base.code",
      "position": [1344, -320],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Mapper voice_id fra frontend til edge-tts format\n// edge-tts krever 'Neural'-suffix på norske stemmer\nconst item = items[0].json;\nconst voiceId = item.voice_id || 'nb-NO-PernilleNeural';\n\n// Legg til 'Neural' hvis mangler\nconst tts_voice = voiceId.endsWith('Neural') ? voiceId : voiceId + 'Neural';\n\n// Norske stemmer: nb-NO-PernilleNeural, nb-NO-FinnNeural, nb-NO-IselinNeural\n// Engelske: en-US-AriaNeural, en-US-AndrewNeural, en-GB-SoniaNeural\n\nreturn [{ json: { ...item, tts_voice } }];"
      },
      "id": "cacd55ad-8d67-4544-9a1a-a35a4a5a2314",
      "name": "Voice Map",
      "type": "n8n-nodes-base.code",
      "position": [1520, -320],
      "typeVersion": 2,
      "notes": "Mapper voice_id til edge-tts format. Støtter norske og engelske stemmer."
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst item = items[0].json;\nconst videoId = item.video_id;\nconst voice   = item.tts_voice || 'nb-NO-PernilleNeural';\n\n// Bygg fullstendig tekst fra scener\nlet rawText = '';\nif (item.scenes && Array.isArray(item.scenes) && item.scenes.length > 0) {\n  rawText = item.scenes.map(s => s.narration || '').filter(Boolean).join('. ');\n} else {\n  rawText = item.topic || item.title || 'VideoMill produksjon';\n}\n\n// Rens tekst for shell-farlige tegn\nconst cleanText = rawText\n  .replace(/[\"'`$\\\\]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 2000); // Max 2000 tegn\n\nconst dir        = `/workspace/video_assets/${videoId}`;\nconst outputPath = `${dir}/voiceover.mp3`;\n\ntry {\n  execSync(`mkdir -p ${dir}`, { shell: '/bin/bash' });\n  execSync(`edge-tts --voice \"${voice}\" --text \"${cleanText}\" --write-media \"${outputPath}\"`, {\n    encoding: 'utf-8',\n    timeout: 300000,\n    shell: '/bin/bash',\n  });\n\n  return [{ json: { ...item, voiceover_path: outputPath, engine_status: 'success', voice_used: voice } }];\n} catch (err) {\n  throw new Error(`Voiceover feilet (ID: ${videoId}, stemme: ${voice}): ${err.message}`);\n}"
      },
      "id": "2a629026-0162-473a-ad90-a0c5cc88a6ea",
      "name": "Generate Voiceover",
      "type": "n8n-nodes-base.code",
      "position": [1696, -320],
      "typeVersion": 2,
      "notes": "edge-tts genererer voiceover. Bruker tts_voice fra Voice Map-steget."
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\nconst scenes  = item.scenes || [];\nconst videoId = item.video_id || $('Webhook - Video Request').first().json.body.video_id;\n\nreturn scenes.map((scene, index) => ({\n  json: {\n    ...item,\n    video_id:         videoId,\n    scene,\n    batchIndex:       index,\n    duration_seconds: scene.duration_seconds || 5,\n    search_query:     (scene.search_keywords && scene.search_keywords[0]) || item.topic || 'nature',\n  }\n}));"
      },
      "id": "7342c8e6-d3a9-49f0-81b7-2594e9d07914",
      "name": "Split Scenes",
      "type": "n8n-nodes-base.code",
      "position": [1872, -320],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "681bb435-da09-48df-9d76-1f4556009328",
      "name": "Loop Scenes",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [2048, -320],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "https://api.pexels.com/videos/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query",       "value": "={{ $json.search_query }}" },
            { "name": "per_page",    "value": "3" },
            { "name": "orientation", "value": "={{ $json.aspect_ratio === '16:9' ? 'landscape' : 'portrait' }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $env.PEXELS_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "2e6651bc-6489-4415-ab98-f056d8cfb0bf",
      "name": "Pexels - Search Footage",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2208, -208],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "const videos = $input.first().json.videos || [];\nif (!videos.length) return [{ json: { clip_url: null } }];\nconst best = videos[0];\n// Velg HD eller beste tilgjengelige\nconst hdFile = best.video_files.find(f => f.quality === 'hd') ||\n               best.video_files.find(f => f.quality === 'sd') ||\n               best.video_files[0];\nreturn [{ json: { clip_url: hdFile.link, clip_id: best.id } }];"
      },
      "id": "34717875-c721-4a62-a00d-1f229ef29fae",
      "name": "Select Best Clip",
      "type": "n8n-nodes-base.code",
      "position": [2400, -208],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst item       = items[0].json;\nconst videoId    = item.video_id || $('Webhook - Video Request').first().json.body.video_id;\nconst clipUrl    = item.clip_url;\nconst batchIndex = item.batchIndex || 0;\nconst duration   = item.duration_seconds || 5;\nconst dir        = `/workspace/video_assets/${videoId}`;\n\nexecSync(`mkdir -p ${dir}/clips`, { shell: '/bin/bash' });\n\nif (!clipUrl) {\n  // Generer svart klipp som fallback\n  const cmd = `ffmpeg -y -f lavfi -i color=c=black:size=1080x1920:rate=30 -t ${duration} -c:v libx264 -preset fast ${dir}/clips/scene_${batchIndex}.mp4`;\n  execSync(cmd, { encoding: 'utf-8', timeout: 120000, shell: '/bin/bash' });\n  return [{ json: { ...item, video_id: videoId, clip_path: `${dir}/clips/scene_${batchIndex}.mp4`, success: true } }];\n}\n\nconst cmd = `ffmpeg -y -i \"${clipUrl}\" -t ${duration} -c:v libx264 -preset fast -an \"${dir}/clips/scene_${batchIndex}.mp4\"`;\ntry {\n  execSync(cmd, { encoding: 'utf-8', timeout: 300000, shell: '/bin/bash' });\n  return [{ json: { ...item, video_id: videoId, clip_path: `${dir}/clips/scene_${batchIndex}.mp4`, success: true } }];\n} catch(err) { throw new Error('FFmpeg download failed: ' + err.message); }"
      },
      "id": "30a36600-31a1-4e63-88e6-8b8c48c6cea6",
      "name": "FFmpeg - Download & Trim",
      "type": "n8n-nodes-base.code",
      "position": [2608, -208],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst item    = items[0].json;\nconst videoId = item.video_id || $('Webhook - Video Request').first().json.body.video_id;\nconst dir     = `/workspace/video_assets/${videoId}`;\n\nexecSync(`mkdir -p ${dir}/clips`, { shell: '/bin/bash' });\n\nconst files = execSync(`ls ${dir}/clips/scene_*.mp4 2>/dev/null || echo ''`, {\n  encoding: 'utf-8', shell: '/bin/bash'\n}).trim();\n\nif (!files) throw new Error(`Ingen scene-filer funnet i ${dir}/clips/`);\n\nconst cmd = `cd ${dir}/clips && ls scene_*.mp4 | sort -V | sed \"s/^/file '/;s/$/'/\" > filelist.txt && ffmpeg -y -f concat -safe 0 -i filelist.txt -c:v libx264 -preset fast \"${dir}/concat.mp4\"`;\ntry {\n  execSync(cmd, { encoding: 'utf-8', timeout: 300000, shell: '/bin/bash' });\n  return [{ json: { ...item, video_id: videoId, concat_path: `${dir}/concat.mp4`, success: true } }];\n} catch(err) { throw new Error('FFmpeg concat failed: ' + err.message); }"
      },
      "id": "1171494b-070a-430d-9f50-1b588cb09aea",
      "name": "FFmpeg - Concat All Clips",
      "type": "n8n-nodes-base.code",
      "position": [2784, -336],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst item    = items[0].json;\nconst videoId = item.video_id || $('Webhook - Video Request').first().json.body.video_id;\nconst dir     = `/workspace/video_assets/${videoId}`;\n\ntry {\n  execSync(`mkdir -p ${dir}`, { shell: '/bin/bash' });\n\n  // Kombiner lyd og video\n  execSync(`ffmpeg -y -i \"${dir}/concat.mp4\" -i \"${dir}/voiceover.mp3\" -c:v copy -c:a aac -shortest \"${dir}/final_16x9.mp4\"`, {\n    encoding: 'utf-8', timeout: 300000, shell: '/bin/bash'\n  });\n\n  return [{ json: { ...item, video_id: videoId, master_path: `${dir}/final_16x9.mp4` } }];\n} catch(err) {\n  throw new Error('Voiceover/Merge failed: ' + err.message);\n}"
      },
      "id": "8ac985b8-7110-4f08-bbad-74f5498c6580",
      "name": "FFmpeg - Add Voiceover",
      "type": "n8n-nodes-base.code",
      "position": [2992, -336],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst item    = items[0].json;\nconst videoId = item.video_id || $('Webhook - Video Request').first().json.body.video_id;\nconst dir     = `/workspace/video_assets/${videoId}`;\nconst ratio   = item.aspect_ratio || '9:16';\n\ntry {\n  if (ratio === '9:16' || ratio !== '16:9') {\n    // TikTok/Reels 9:16\n    execSync(`ffmpeg -y -i \"${dir}/final_16x9.mp4\" -vf \"scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2,setsar=1\" \"${dir}/final_9x16.mp4\"`, { encoding: 'utf-8', timeout: 300000, shell: '/bin/bash' });\n  }\n  // Instagram 1:1\n  execSync(`ffmpeg -y -i \"${dir}/final_16x9.mp4\" -vf \"scale=1080:1080:force_original_aspect_ratio=decrease,pad=1080:1080:(ow-iw)/2:(oh-ih)/2,setsar=1\" \"${dir}/final_1x1.mp4\"`, { encoding: 'utf-8', timeout: 300000, shell: '/bin/bash' });\n\n  return [{ json: { ...item, video_id: videoId, success: true } }];\n} catch(err) {\n  throw new Error('FFmpeg scale failed: ' + err.message);\n}"
      },
      "id": "55a9b29e-a7c8-4764-9e97-f834fe501a4a",
      "name": "FFmpeg - Multi-Format Scale",
      "type": "n8n-nodes-base.code",
      "position": [3216, -336],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst item       = items[0].json;\nconst videoId    = item.video_id;\nconst userId     = item.user_id;\nconst dir        = `/workspace/video_assets/${videoId}`;\nconst supabaseUrl = $env.SUPABASE_URL;\nconst serviceKey  = $env.SUPABASE_SERVICE_ROLE_KEY;\n\nconst uploads = [\n  { file: 'final_16x9.mp4', format: '16x9' },\n  { file: 'final_9x16.mp4', format: '9x16' },\n  { file: 'final_1x1.mp4',  format: '1x1'  },\n];\n\nconst uploadedUrls = {};\n\nfor (const u of uploads) {\n  const filePath    = `${dir}/${u.file}`;\n  const storagePath = `${userId}/${videoId}/${u.file}`;\n  try {\n    execSync(`curl -sf -X POST \"${supabaseUrl}/storage/v1/object/videos/${storagePath}\" \\\n      -H \"Authorization: Bearer ${serviceKey}\" \\\n      -H \"Content-Type: video/mp4\" \\\n      --data-binary @\"${filePath}\"`,\n      { encoding: 'utf-8', timeout: 600000, shell: '/bin/bash' }\n    );\n    uploadedUrls[`video_url_${u.format.replace(':','x')}`] = `${supabaseUrl}/storage/v1/object/public/videos/${storagePath}`;\n    console.log(`Uploaded ${u.format} for video ${videoId}`);\n  } catch(err) {\n    console.log(`Upload ${u.format} failed (non-fatal): ${err.message}`);\n  }\n}\n\nreturn [{ json: { ...item, video_id: videoId, user_id: userId, ...uploadedUrls } }];"
      },
      "id": "cfeffff3-d852-4920-8e74-d1a30f754dbe",
      "name": "Upload All Formats",
      "type": "n8n-nodes-base.code",
      "position": [3440, -336],
      "typeVersion": 2,
      "notes": "Laster opp alle videoformater til Supabase Storage."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $json.video_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"complete\",\n  \"progress\": 100,\n  \"sub_status\": \"Video ferdigstilt\",\n  \"video_url\": \"{{ $json.video_url_16x9 || $json.video_url_9x16 || '' }}\",\n  \"metadata\": {{ JSON.stringify({ video_url_16x9: $json.video_url_16x9, video_url_9x16: $json.video_url_9x16, video_url_1x1: $json.video_url_1x1 }) }}\n}",
        "options": {}
      },
      "id": "e1d18569-ac3d-41ab-8a8d-0416ca539129",
      "name": "Status: complete + URLs",
      "type": "n8n-nodes-base.httpRequest",
      "position": [3640, -336],
      "typeVersion": 4.4,
      "notes": "Oppdaterer video med status=complete og lagrer video-URLer. Trigger Realtime push til frontend."
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst videoId = items[0].json.video_id || $('Webhook - Video Request').first().json.body.video_id;\ntry {\n  execSync(`rm -rf /workspace/video_assets/${videoId}`, { encoding: 'utf-8', timeout: 30000, shell: '/bin/bash' });\n  return [{ json: { ...items[0].json, cleanup: 'done' } }];\n} catch (err) {\n  console.log('Cleanup (non-fatal):', err.message);\n  return [{ json: { ...items[0].json, cleanup: 'failed' } }];\n}"
      },
      "id": "7261a7d9-eabd-4e68-ac45-6fd677cc54e3",
      "name": "Cleanup Temp Files",
      "type": "n8n-nodes-base.code",
      "position": [3840, -336],
      "typeVersion": 2
    },

    {
      "parameters": {
        "triggerTimes": {
          "item": [{ "mode": "everyX", "value": 6, "unit": "hours" }]
        }
      },
      "id": "60e570dc-7211-44f0-b925-ae6adbfd2bb2",
      "name": "Cron - Trending Topics (6t)",
      "type": "n8n-nodes-base.cron",
      "position": [64, 16],
      "typeVersion": 1,
      "notes": "Henter nye trender fra Ollama hvert 6. time."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_URL }}/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"llama3\", \"prompt\": \"Analyze current trending topics for viral short-form video content in 2026. Return exactly 16 topics as a JSON array with NO other text. Each topic must be an object: {\\\"title\\\": string, \\\"category\\\": string (one of: tech/motivation/history/science/crime/finance/health/mystery), \\\"heat\\\": string (one of: fire/hot/rising), \\\"reason\\\": string (why it's trending, max 80 chars), \\\"tags\\\": string[] (3-5 tags), \\\"rank\\\": number (1-16), \\\"platform\\\": string (one of: tiktok/youtube/instagram), \\\"target_audience\\\": string (who the content is for)}. Return ONLY valid JSON array, no markdown.\", \"stream\": false}",
        "options": {}
      },
      "id": "771dfce8-87bd-4a2e-ba16-74e1a5ad3672",
      "name": "Ollama - Analyze Trends",
      "type": "n8n-nodes-base.httpRequest",
      "position": [272, 16],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "// Parser Ollama-respons og mapper felt til DB-skjema\nconst resp = $input.first().json.response || $input.first().json.message?.content || '';\n\nlet topics = [];\ntry {\n  // Prøv direkte parse\n  topics = JSON.parse(resp);\n} catch {\n  try {\n    // Prøv å hente JSON-array fra tekst\n    const match = resp.match(/\\[[\\s\\S]*\\]/);\n    if (match) topics = JSON.parse(match[0]);\n  } catch(e) {\n    throw new Error('Klarte ikke parse trender fra Ollama: ' + e.message + '\\nRespens: ' + resp.substring(0, 300));\n  }\n}\n\nif (!Array.isArray(topics) || topics.length === 0) {\n  throw new Error('Ollama returnerte ingen trender');\n}\n\n// Kart fra kategori til standard plattform (fallback)\nconst platformByCategory = {\n  tech: 'youtube',  motivation: 'tiktok', history: 'youtube',\n  science: 'youtube', crime: 'tiktok', finance: 'youtube',\n  health: 'instagram', mystery: 'tiktok',\n};\n\nreturn topics.map(t => ({ json: {\n  title:           t.title           || t.name        || 'Ukjent topic',\n  category:        t.category        || 'general',\n  viral_score:     t.rank            || t.viral_score  || Math.floor(Math.random() * 40 + 55),\n  heat_level:      t.heat            || t.heat_level   || 'rising',\n  growth_stat:     t.reason          || t.growth_stat  || null,\n  tags:            Array.isArray(t.tags) ? t.tags : [],\n  platform:        t.platform        || platformByCategory[t.category] || 'youtube',\n  target_audience: t.target_audience || (t.category ? t.category + ' enthusiasts' : 'General audience'),\n} }));"
      },
      "id": "4abf0900-e33a-4eb4-a41b-8c6ed770afb2",
      "name": "Parse Trends → DB-format",
      "type": "n8n-nodes-base.code",
      "position": [464, 16],
      "typeVersion": 2,
      "notes": "Mapper Ollama-felt til trending_topics DB-kolonner (rank→viral_score, heat→heat_level, reason→growth_stat)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/trending_topics?active=eq.true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"active\": false}",
        "options": {}
      },
      "id": "a6e63646-b85f-4fcd-8046-6aaef5d00b24",
      "name": "Deaktiver gamle trender",
      "type": "n8n-nodes-base.httpRequest",
      "position": [672, 16],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/trending_topics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($input.all().map(i => ({...i.json, active: true, updated_at: new Date().toISOString()}))) }}",
        "options": {}
      },
      "id": "8bef0363-57ff-4104-9725-546984e56686",
      "name": "Insert nye trender",
      "type": "n8n-nodes-base.httpRequest",
      "position": [864, 16],
      "typeVersion": 4.4,
      "notes": "Setter inn nye trender → Supabase Realtime pusher til frontend umiddelbart"
    },

    {
      "parameters": {
        "triggerTimes": {
          "item": [{ "hour": 3 }]
        }
      },
      "id": "d2a415c6-2238-4677-b3c8-7d308701d9cd",
      "name": "Cron - Analytics (03:00)",
      "type": "n8n-nodes-base.cron",
      "position": [32, 304],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/videos?select=status,count",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer",        "value": "count=exact" }
          ]
        },
        "options": {}
      },
      "id": "ddbf000c-b945-42af-aa64-627b25c740ae",
      "name": "Hent video-statistikk",
      "type": "n8n-nodes-base.httpRequest",
      "position": [256, 304],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "console.log('Analytics aggregation complete:', JSON.stringify($input.first().json));\nreturn $input.all();"
      },
      "id": "24f37b7e-5ed7-423c-ae8f-4e20a98cd80d",
      "name": "Log Analytics",
      "type": "n8n-nodes-base.code",
      "position": [480, 304],
      "typeVersion": 2
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "viranode-retry",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "07c48330-fe46-4208-bed5-e111f0de7c30",
      "name": "Webhook - Retry Video",
      "type": "n8n-nodes-base.webhook",
      "position": [64, 608],
      "typeVersion": 2.1,
      "webhookId": "1f430329-e7d0-4b0f-867e-b9a32bcf8681",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tMpd49OnZKvy2Yi7",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.headers['x-videomill-auth'] || $json.headers['x-viranode-secret'] }}",
              "rightValue": "={{ $env.N8N_HEADER_AUTH_VALUE }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "85ce1659-35f1-430e-98f8-bcc3faec5f76",
      "name": "Valider Retry Secret",
      "type": "n8n-nodes-base.if",
      "position": [272, 608],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $json.body.retry_video_id }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "6b67be73-7207-4a4d-bbf4-84a690de14d4",
      "name": "Hent original video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [464, 608],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $json[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"queued\", \"progress\": 0, \"sub_status\": \"Retry startet\"}",
        "options": {}
      },
      "id": "12e32fff-1050-4291-ba0a-29acf33f4b24",
      "name": "Resett status: queued",
      "type": "n8n-nodes-base.httpRequest",
      "position": [672, 608],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",     "value": "application/json" },
            { "name": "X-VideoMill-Auth", "value": "={{ $env.N8N_HEADER_AUTH_VALUE }}" },
            { "name": "X-ViraNode-Secret","value": "={{ $env.N8N_HEADER_AUTH_VALUE }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ video_id: $json[0].id, user_id: $json[0].user_id, topic: $json[0].topic || $json[0].title, promp: $json[0].promp || '', voice_id: $json[0].voice_id || 'nb-NO-Pernille', platform: $json[0].platform || 'tiktok', aspect_ratio: $json[0].aspect_ratio || '9:16', language: $json[0].language || 'nb', target_audience: $json[0].target_audience || 'general', action: 'retry' }) }}",
        "options": {}
      },
      "id": "65a73b11-ee01-4bb9-81ba-de504af6326d",
      "name": "Re-trigger Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "position": [864, 608],
      "typeVersion": 4.4
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Video Request": {
      "main": [[{ "node": "Sjekk Secret", "type": "main", "index": 0 }]]
    },
    "Sjekk Secret": {
      "main": [[{ "node": "Autorisert?", "type": "main", "index": 0 }]]
    },
    "Autorisert?": {
      "main": [
        [{ "node": "Sett status: queued", "type": "main", "index": 0 }],
        [{ "node": "Respond 401", "type": "main", "index": 0 }]
      ]
    },
    "Sett status: queued": {
      "main": [[{ "node": "Svar 200 OK", "type": "main", "index": 0 }]]
    },
    "Svar 200 OK": {
      "main": [[{ "node": "Status: scripting", "type": "main", "index": 0 }]]
    },
    "Status: scripting": {
      "main": [[{ "node": "Groq - Generate Script", "type": "main", "index": 0 }]]
    },
    "Groq - Generate Script": {
      "main": [[{ "node": "Parse Script JSON", "type": "main", "index": 0 }]]
    },
    "Parse Script JSON": {
      "main": [[{ "node": "Voice Map", "type": "main", "index": 0 }]]
    },
    "Voice Map": {
      "main": [[{ "node": "Generate Voiceover", "type": "main", "index": 0 }]]
    },
    "Generate Voiceover": {
      "main": [[{ "node": "Split Scenes", "type": "main", "index": 0 }]]
    },
    "Split Scenes": {
      "main": [[{ "node": "Loop Scenes", "type": "main", "index": 0 }]]
    },
    "Loop Scenes": {
      "main": [
        [{ "node": "FFmpeg - Concat All Clips", "type": "main", "index": 0 }],
        [{ "node": "Pexels - Search Footage", "type": "main", "index": 0 }]
      ]
    },
    "Pexels - Search Footage": {
      "main": [[{ "node": "Select Best Clip", "type": "main", "index": 0 }]]
    },
    "Select Best Clip": {
      "main": [[{ "node": "FFmpeg - Download & Trim", "type": "main", "index": 0 }]]
    },
    "FFmpeg - Download & Trim": {
      "main": [[{ "node": "Loop Scenes", "type": "main", "index": 0 }]]
    },
    "FFmpeg - Concat All Clips": {
      "main": [[{ "node": "FFmpeg - Add Voiceover", "type": "main", "index": 0 }]]
    },
    "FFmpeg - Add Voiceover": {
      "main": [[{ "node": "FFmpeg - Multi-Format Scale", "type": "main", "index": 0 }]]
    },
    "FFmpeg - Multi-Format Scale": {
      "main": [[{ "node": "Upload All Formats", "type": "main", "index": 0 }]]
    },
    "Upload All Formats": {
      "main": [[{ "node": "Status: complete + URLs", "type": "main", "index": 0 }]]
    },
    "Status: complete + URLs": {
      "main": [[{ "node": "Cleanup Temp Files", "type": "main", "index": 0 }]]
    },
    "Cron - Trending Topics (6t)": {
      "main": [[{ "node": "Ollama - Analyze Trends", "type": "main", "index": 0 }]]
    },
    "Ollama - Analyze Trends": {
      "main": [[{ "node": "Parse Trends → DB-format", "type": "main", "index": 0 }]]
    },
    "Parse Trends → DB-format": {
      "main": [[{ "node": "Deaktiver gamle trender", "type": "main", "index": 0 }]]
    },
    "Deaktiver gamle trender": {
      "main": [[{ "node": "Insert nye trender", "type": "main", "index": 0 }]]
    },
    "Cron - Analytics (03:00)": {
      "main": [[{ "node": "Hent video-statistikk", "type": "main", "index": 0 }]]
    },
    "Hent video-statistikk": {
      "main": [[{ "node": "Log Analytics", "type": "main", "index": 0 }]]
    },
    "Webhook - Retry Video": {
      "main": [[{ "node": "Valider Retry Secret", "type": "main", "index": 0 }]]
    },
    "Valider Retry Secret": {
      "main": [[{ "node": "Hent original video", "type": "main", "index": 0 }]]
    },
    "Hent original video": {
      "main": [[{ "node": "Resett status: queued", "type": "main", "index": 0 }]]
    },
    "Resett status: queued": {
      "main": [[{ "node": "Re-trigger Pipeline", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "videomill-v4-2-fixed",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "80e164e96b67ba451feaac9cb5b58523b06c1f8e96036689e61edc5d0a570dfa"
  },
  "id": "AEqRWNyPs5CvIy7q",
  "tags": []
}
